.contenedor-contenido {
    width: 94%;
    margin-top: 20px;
    margin: auto;
}

.contenedor-gris {
    width: 100%;
    // margin: 0px auto;
    padding: 15px 20px;
    background-color: #F9F9F9;
    -moz-box-shadow: 0 0px 1px rgb(226, 222, 222);
    -webkit-box-shadow: 0 0px 1px rgb(226, 222, 222);
    box-shadow: 0 0px 1px rgb(226, 222, 222);
    // margin-bottom: 15px;
    text-align: justify;
    box-sizing: border-box;
    margin-bottom: 50px;
}
