mat-form-field {
    width: 500px;
}
mat-form-field mat-label {
    font-size: 18px;
}

.input-h-un {
    height: unset !important;
}

.mat-input-element {
    border: 1px solid #bfbfbf !important;
}

.mat-input-element.u-border-u {
    border: unset !important;
}