.mat-select-trigger {
    display: block !important;
}

.mat-select-arrow {
    background-image: url(./assets/img/icoFlecha.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    width: 17px !important;
    height: 17px !important;
    background-position: center;
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
}

.adminCatalogos {
    max-height: 330px !important;
}