.tblGeneral {
    width: 100%;
    padding: 10px 0%;
    margin: 0px auto;
}
.tblGeneral tr th {
    padding: 5px 10px 6px 10px !important;
    text-align: center;
    font-weight: 100;
    border-bottom: 1px solid #dedede !important;
    font-size: 14px;
    font-family: "AvenirNextLTPro-Medium";
    min-width: 87px;
}
.tblGeneral tr td {
    padding: 7px 10px 7px 10px;
    color: #606664;
    font-size: 13px;
    text-align: center;
}
.tblGeneral tr:nth-child(odd) td {
    background-color: $color-blanco;
}
.tblGeneral tr:nth-child(even) td {
    background-color: #f2f2f2;
}
.tblGeneral tr:hover td {
    background-color: #e6efe6;
}
.tblGeneral tr td a {
    text-decoration: underline;
    font-family: $font-demibold;
    cursor: pointer;
}
.tblGeneral tr td img {
    width: 15px;
    cursor: pointer;
}
.cantidad {
    width: 120px;
    margin: auto;
    text-align: right;
    color: #000;
}
tr.total td {
    font-family: "Avenir_Next_Demi_Bold";
}

.tblSwitch {
    display: flex;
    justify-content: center;
}

.tblCheck tr th:nth-child(1),
.tblCheck tr td:nth-child(1) {
    width: 50px !important;
}

.tblPuestos {
    background-color: #faf9f9 !important;
}
.tblCargaMasiva {
    background-color: #faf9f9 !important;
}

.tblCargaMasiva .mat-header-cell {
    font-family: $font-medium !important;
    color: #000 !important;
}

.mat-sort-header-container {
    justify-content: center;
}
.mat-paginator-container {
    background-color: #faf9f9;
}
tr.mat-header-row {
    height: 40px;
}

.mat-sort-header-arrow {
    color: #3FAE2A;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    border-bottom: solid 1px $color-blanco !important;
}

.bg-rojo {
    background-color: #FBBDB8 !important;
}

.bg-amarillo {
    background-color: #FFEDA6 !important;
}

.bg-verde {
    background-color: #BCE3B4 !important;
}

.cuadrito {
    height: 15px;
    width: 15px;
}

.scroll-y {
    max-height: 550px;
    overflow-y: auto;
}