@import url('assets/styles/_fonts.scss');
$font-light: 'Avenir_Light';
$font-regular: 'Avenir_Next_Regular';
$font-medium: 'AvenirNextLTPro-Medium';
$font-demibold: 'Avenir_Next_Demi_Bold';
$font-bold: 'Avenir_Next_Bold';

$color-primario: #267459;
$color-fondo: #FAFAFA;
$color-blanco: #ffffff;
$color-formula: #FAFAFA; 
$color-gris: #999999;
$color-gris-e3: #E3E3E3;